Repository pennlabs/infrastructure: changes, and which Atlantis projects are due for each by the changed paths.
All: chronos, base, vault

atlantis.yaml:

version: 3
projects:
  - name: chronos
    dir: terraform/chronos
    autoplan:
      when_modified: ["*.tf", "helm/*.yaml", "../modules/**/*.tf"]
  - name: base
    dir: terraform/base
    autoplan:
      when_modified:
        - "*.tf"
        - helm-sandbox/*.yaml"
        - helm-production/*.yaml"
        - "../modules/**/*.tf"
    workflow: base
  - name: vault
    dir: terraform/vault
    autoplan:
      when_modified: ["*.tf", "policies/*.hcl"]

workflows:
  base:
    plan:
      steps:
        - run: terraform refresh ../chronos
        - plan

Add CPU alerts
  grafana-dashboards/pod-alerting-dashboard.json
Due: none

Add CPU alerts (#33)
  grafana-dashboards/pod-alerting-dashboard.json
Due: none

Composite action test
  actions/django/LICENSE
  actions/django/README.md
  actions/django/action.yml
  actions/django/yarn.lock
  actions/pypi/.eslintignore
  actions/pypi/.eslintrc.json
  actions/pypi/.gitattributes
  actions/pypi/.gitignore
  actions/pypi/.prettierignore
  actions/pypi/.prettierrc.json
  actions/pypi/README.md
  actions/pypi/action.yml
  actions/pypi/dist/index.js
  actions/pypi/dist/index.js.map
  actions/pypi/dist/sourcemap-register.js
  actions/pypi/package.json
  actions/pypi/src/main.ts
  actions/pypi/src/wait.ts
  actions/pypi/tsconfig.json
Due: none

Test
  actions/django/action.yml
Due: none

Add fyh
  terraform/base/main.tf
Due: base

Add first-year-hub (#34)
  terraform/base/main.tf
Due: base

Add codecov
  actions/django/action.yml
Due: none

Fix coverage
  actions/django/action.yml
Due: none

Debug
  actions/django/action.yml
Due: none

Remove yarn
  actions/django/yarn.lock
Due: none

Platform users can assume kubectl
  terraform/eks.tf
  terraform/gh-actions.tf
  terraform/main.tf
  terraform/platform.tf
Due: none

Fixes
  terraform/rds.tf
  terraform/vault.tf
Due: none

Vault configuration
  terraform/README.md
  terraform/modules/vault/main.tf
  terraform/modules/vault/monitoring.tf
  terraform/modules/vault/secret-sync.tf
  terraform/modules/vault/team-sync.tf
  terraform/variables.tf
  terraform/vault.tf
Due: chronos, base

Flush to vault
  terraform/eks.tf
  terraform/files/kubeconfig
  terraform/modules/vault/outputs.tf
  terraform/platform.tf
  terraform/vault.tf
Due: chronos, base

Use maps
  terraform/modules/vault/cert-manager.tf
  terraform/modules/vault/monitoring.tf
  terraform/modules/vault/secret-sync.tf
  terraform/modules/vault/team-sync.tf
  terraform/platform.tf
Due: chronos, base

Move file
  terraform/files/vault_user_data.sh
  terraform/vault.tf
Due: none

Make ami local
  terraform/main.tf
  terraform/vault.tf
Due: none

reformat
  terraform/vault.tf
Due: none

format
  terraform/eks.tf
  terraform/main.tf
  terraform/platform.tf
Due: none

Initial
  .github/workflows/kraken.yaml
  kraken/.eslintrc
  kraken/.gitignore
  kraken/README.md
  kraken/cdkactions.yaml
  kraken/lib/application.ts
  kraken/lib/cdk.ts
  kraken/lib/deploy.ts
  kraken/lib/django.ts
  kraken/lib/docker.ts
  kraken/lib/index.ts
  kraken/lib/react.ts
  kraken/package.json
  kraken/test/__snapshots__/application.test.ts.snap
  kraken/test/__snapshots__/cdk.test.ts.snap
  kraken/test/__snapshots__/django.test.ts.snap
  kraken/test/__snapshots__/docker.test.ts.snap
  kraken/test/application.test.ts
  kraken/test/cdk.test.ts
  kraken/test/django.test.ts
  kraken/test/docker.test.ts
  kraken/test/utils.ts
  kraken/tsconfig.json
  kraken/yarn.lock
Due: none

Fix CI
  .github/workflows/kraken.yaml
Due: none
