Repository pennlabs/infrastructure: changes, and which Atlantis projects are due for each by the changed paths.
All: chronos, base, vault

chronos:
  dir: terraform/chronos

base:
  dir: terraform/base

vault:
  dir: terraform/vault

Hide previous plans
  terraform/base/helm-production/atlantis.yaml
Due: none

More flags
  terraform/base/helm-production/atlantis.yaml
Due: none

Add Atlantis (#27)
  atlantis.yaml
  terraform/README.md
  terraform/base/README.md
  terraform/base/atlantis.tf
  terraform/base/helm-production/atlantis.yaml
Due: base

Fix atlantis
  terraform/README.md
  terraform/base/helm-production/atlantis.yaml
Due: none

Merge into infrastructure
  .circleci/config.yml
  LICENSE
  docker/django-base/Dockerfile
  docker/django-base/README.md
  docker/django-base/django-run
  docker/django-base/mime.types
Due: none

Merge into infrastructure
  .circleci/config.yml
  LICENSE
  docker/helm-tools/Dockerfile
  docker/helm-tools/README.md
Due: none

Merge into infrastructure
  .circleci/config.yml
  LICENSE
  docker/team-sync/Dockerfile
  docker/team-sync/Pipfile
  docker/team-sync/Pipfile.lock
  docker/team-sync/README.md
  docker/team-sync/setup.cfg
  docker/team-sync/sync/__init__.py
  docker/team-sync/sync/modules/__init__.py
  docker/team-sync/sync/modules/user-policy.hcl.j2
  docker/team-sync/sync/modules/vault.py
  docker/team-sync/sync/sync.py
Due: none

Merge into infrastructure
  .circleci/config.yml
  LICENSE
  docker/shibboleth-sp-nginx/Dockerfile
  docker/shibboleth-sp-nginx/README.md
  docker/shibboleth-sp-nginx/nginx-default.conf
  docker/shibboleth-sp-nginx/nginx/cert.pem
  docker/shibboleth-sp-nginx/nginx/key.pem
  docker/shibboleth-sp-nginx/nginx/nginx.conf
  docker/shibboleth-sp-nginx/nginx/shib_clear_headers
  docker/shibboleth-sp-nginx/shibd.logger
  docker/shibboleth-sp-nginx/supervisord.conf
Due: none

Merge into infrastructure
  .circleci/config.yml
  LICENSE
  docker/tox/Dockerfile
  docker/tox/README.md
Due: none

Merge into infrastructure
  .circleci/config.yml
  LICENSE
  docker/vault-approle-authenticator/Dockerfile
  docker/vault-approle-authenticator/Pipfile
  docker/vault-approle-authenticator/Pipfile.lock
  docker/vault-approle-authenticator/README.md
  docker/vault-approle-authenticator/authenticate.py
  docker/vault-approle-authenticator/setup.cfg
Due: none

Create CI + update READMEs
  .github/workflows/docker-django-base.yaml
  .github/workflows/docker-helm-tools.yaml
  .github/workflows/docker-pg-s3-backup.yaml
  .github/workflows/docker-shibboleth-sp-nginx.yaml
  .github/workflows/docker-team-sync.yaml
  .github/workflows/docker-tox.yaml
  .github/workflows/docker-vault-approle-authenticator.yaml
  docker/README.md
  docker/django-base/README.md
  docker/helm-tools/README.md
  docker/pg-s3-backup/README.md
  docker/shibboleth-sp-nginx/VERSION
  docker/team-sync/README.md
  docker/tox/README.md
  docker/vault-approle-authenticator/README.md
Due: none

Fix dockerignore files
  docker/django-base/.dockerignore
  docker/helm-tools/.dockerignore
  docker/pg-s3-backup/.dockerignore
  docker/shibboleth-sp-nginx/.dockerignore
  docker/team-sync/.dockerignore
  docker/tox/.dockerignore
  docker/vault-approle-authenticator/.dockerignore
Due: none

Better prometheus support
  grafana-dashboards/README.md
  grafana-dashboards/cert-manager.json
  terraform/base/helm-production/prometheus.yaml
  terraform/base/helm-production/traefik.yaml
  terraform/base/helm-sandbox/prometheus.yaml
  terraform/base/helm-sandbox/traefik.yaml
  terraform/chronos/helm/prometheus.yaml
  terraform/chronos/helm/traefik.yaml
  terraform/modules/base_cluster/traefik.tf
Due: none

Fix atlantis config
  atlantis.yaml
Due: none

Migrate to official vault helm chart
  .gitmodules
  terraform/chronos/vault.tf
Due: chronos

Update atlantis
  terraform/base/helm-production/atlantis.yaml
Due: none

Update atlantis config
  atlantis.yaml
Due: none

Prometheus + Traefik Updates (#29)
  .gitmodules
  atlantis.yaml
  grafana-dashboards/README.md
  grafana-dashboards/cert-manager.json
  terraform/base/helm-production/atlantis.yaml
  terraform/base/helm-production/prometheus.yaml
  terraform/base/helm-production/traefik.yaml
  terraform/base/helm-sandbox/prometheus.yaml
  terraform/base/helm-sandbox/traefik.yaml
  terraform/chronos/helm/prometheus.yaml
  terraform/chronos/helm/traefik.yaml
  terraform/chronos/vault.tf
  terraform/modules/base_cluster/traefik.tf
Due: chronos

Update grafana dashboards
  terraform/chronos/helm/grafana.yaml
Due: none

Lower memory alert limit
  grafana-dashboards/pod-alerting-dashboard.json
Due: none

Bump bitwarden
  terraform/base/helm-production/bitwarden.yaml
Due: none

Bump DO versions
  terraform/base/provider.tf
  terraform/chronos/provider.tf
  terraform/modules/base_cluster/variables.tf
Due: chronos, base

Fix vault
  terraform/chronos/helm/vault.yaml
  terraform/chronos/vault.tf
Due: chronos

Create ohq infrastructure
  terraform/base/main.tf
Due: base

Upgrade prod db
  terraform/base/main.tf
Due: base

Turn down db connections
  terraform/base/provider.tf
Due: base

Fix db + cluster values
  terraform/base/main.tf
  terraform/base/provider.tf
Due: base

Upgrade prod db + cluster (#30)
  terraform/base/main.tf
Due: base

Custom atlantis workflow
  atlantis.yaml
  terraform/base/helm-production/atlantis.yaml
Due: none

Update helm providers
  terraform/base/provider.tf
  terraform/chronos/provider.tf
Due: chronos, base

Allow override
  terraform/base/helm-production/atlantis.yaml
Due: none

Move workflow server-side
  atlantis.yaml
  terraform/base/helm-production/atlantis.yaml
Due: none

Use correct tf version
  terraform/base/helm-production/atlantis.yaml
Due: none

cd properly
  terraform/base/helm-production/atlantis.yaml
Due: none

Use cd
  terraform/base/helm-production/atlantis.yaml
Due: none

Add echo to split output
  terraform/base/helm-production/atlantis.yaml
Due: none

Refresh Chronos on Base Changes (#31)
  atlantis.yaml
  terraform/base/helm-production/atlantis.yaml
  terraform/base/provider.tf
  terraform/chronos/provider.tf
Due: chronos, base

Bump grafana to 3Gib alerts
  grafana-dashboards/pod-alerting-dashboard.json
Due: none

Dummy action
  actions/README.md
  actions/pypi/.eslintignore
  actions/pypi/.eslintrc.json
  actions/pypi/.gitattributes
  actions/pypi/.gitignore
  actions/pypi/.prettierignore
  actions/pypi/.prettierrc.json
  actions/pypi/LICENSE
  actions/pypi/README.md
  actions/pypi/action.yml
  actions/pypi/package.json
  actions/pypi/src/main.ts
  actions/pypi/src/wait.ts
  actions/pypi/tsconfig.json
  actions/pypi/yarn.lock
Due: none

More test
  actions/pypi/dist/index.js
  actions/pypi/dist/index.js.map
  actions/pypi/dist/sourcemap-register.js
  actions/pypi/package.json
Due: none

Path conditions:
  chronos: any of: terraform/chronos/*.tf, terraform/modules/**.tf
  base: any of: terraform/base/*.tf, terraform/modules/**.tf
  vault: any of: terraform/vault/*.tf
